*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.headerConatiner{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
    
}
/* .div-links{
    flex: 1;
    text-align: right;
} */

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Broadway;
    font-size: 26px;
    color: black;
}
@media screen and (max-width:700px){
    body{
        margin: 0;
        padding: 0;
    }
    .div-links a{
        justify-content: end;
        font-weight: bold;
        margin-right: 1px;
        display: block;
        width: 100px;
        text-align: center;
    }
    .slogan{
        font-size: 15px;
    }

.headerConatiner{
    display: flex;
    justify-content: space-between;
}
.div-links{
    padding-top: 15px;
    position: absolute;
    height: 300px;
    width: 150px;
    backdrop-filter: blur(15px);
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
}
}
@media screen and (max-width:547px){
    .footerContent{
        width: 362px;
        height: 200px;
        
    }
    .footerStart{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        font-size: 12px;
        
    }
    .slogan h2{
        padding-right: 10px;
        font-size: 40px;
    }
    .logo{
        text-align: start;
        font-size: 15px;
    }
    .headerConatiner{
        padding: 20px;
    }
    .headerConatiner li a{
        padding: 5px 6px;
    }
    /* .div-links{
        position: absolute;
        height: 80px;
        width: 100px;
        background: #544e38;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    } */
}
.b{
    background-image: url(bgPhoto.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat:no-repeat;
    justify-content: center;
    align-items: center;
}
.b button{
    width: 90px;
    height: 40px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px;
}
.headerConatiner li{
    display: inline;
    /* justify-content: space-evenly; */
    padding-right: 15px;
    
}
.headerConatiner li a{
    text-decoration: none;
    color: black;
    border: 1px;
    box-shadow: 0px 0px 3px;
    padding: 10px 20px;
    font-size: 17px;
   
}
ul li a:hover{
    background-color: aliceblue;
    color: #000;
}
.slogan{
    padding: 70px 0px 0px 70px;
    font-size: 50px;
    width: auto;
    font-family: Magneto;
    color: black;
}
.bgPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}
.bgPhoto button{
    width: 150px;
    height: 50px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px;
    background-color:transparent;
    align-items: center;
}
button a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 17px;
}
button:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 8px;
}
.footerStart{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    
}
.footerContent{
    background-color:#ccc6af ;
    padding: 0px 25px ;
    box-shadow: 0px 0px 10px;
}
.links{
    display: flex;
    width: 40px;
    padding-top:15px ;
}
.links a{
    padding-left: 10px;
}
.photos{
    box-shadow: 0px 0x 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    /*background-color: rgb(170, 169, 169);*/
    background-color:#e0dac3;
    /* background-color:#c1cfe6; */
    padding-bottom: 90px;
    padding-top: 60px;
}
.photos img{
    width: 200px;
    margin-inline: 10px;
    margin-top: 70px;
    margin-left: 38px;
    margin-right: 20px;
    box-shadow: 0 0 8px;
}
.rubrika h2,p{
    margin-top: 5px;
    margin-bottom: 1px;  
    margin-left: 38px;
    margin-right: 20px;  
}
.rubrika button{
    background-color: #8096ba;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 60px;
}
.rubrika button:hover{
    background-color: #4065a1;
    color: white;
}
.footerMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerLeft{
    width: 300px;
    
}
.footerCenter{
    margin-right: 130px;
    padding-top: 15px;
    width:170px;
}
.footerRight{
    /* padding-right: 200px; */
    margin-right: 150px;
    width: 100px;
}
.footerEnd{
    display: flex;
    justify-content: center;
    padding: 25px 25px;

}