*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.headerConatiner{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Broadway;
    font-size: 26px;
    color: black;
}
@media screen and (max-width:780px){
    body{
        margin: 0;
        padding: 0;
    }
    .div-links a{
        justify-content: end;
        font-weight: bold;
        margin-right: 1px;
        display: block;
        width: 100px;
        text-align: center;
    }
    .slogan h2{
        text-align: left;
        padding-right: 180px;
        font-size: 50px;
    }
.headerConatiner{
    display: flex;
    justify-content: space-between;
}
.div-links{
    padding-top: 15px;
    position: absolute;
    height: 300px;
    width: 150px;
    backdrop-filter: blur(15px);
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
}
}
    @media screen and (max-width: 700px) {
        .footerContent {
          /* Stili për footer-in për madhësi të vogla ekrani */
          padding: 70px;
        }
        .footerStart{
          /* Stili për përmbajtjen në footer për madhësi të vogla ekrani */
            margin-left: -20px;
        }
        
        .footerRight {
            justify-content: center; 
            margin-top: 10px;
            margin-left: -100px;
          }
          
          .links {
            width: auto;
            flex-wrap: wrap; 
            margin: 5px; 
          }
        .footerCenter {
            margin-left: -40px;
        }
          
        .footerLeft {
           margin-left: 70px;
           
          }
        
        }
    @media screen and (max-width:547px){
      
    .footerStart{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        font-size: 12px;
        
    }
    .slogan h2{
        text-align: left;
        padding-right: 180px;
        font-size: 40px;
    }
    .logo{
        font-size: 22px;
    }
    .headerConatiner{
        padding: 20px;
    }
    .headerConatiner li a{
        padding: 5px 6px;
    }
    
}
.b{
    background-image: url(images/bgPhoto.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat:no-repeat;
    /* background-color: #21437a; */
    justify-content: center;
    align-items: center;
}
.b button{
    width: 90px;
    height: 40px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px;
}
#slider,button{
    padding: 15px;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
}

.headerConatiner li{
    display: inline;
    /* justify-content: space-evenly; */
    margin-right: 20px;
    
}
.headerConatiner li a{
    text-decoration: none;
    color: black;
    border: 1px;
    box-shadow: 0px 0px 5px;
    padding: 10px 20px;
    font-size: 17px;
    width: 140px;
   
}
ul li a:hover{
    background-color: aliceblue;
    color: #000;
}
.slogan{
    padding: 70px 0px 0px 70px;
    font-size: 50px;
    width: auto;
    color: black;
    text-align: center;
}
.bgPhoto{
    display: flex;
    justify-content: center;
    align-items: left;
    padding-top: 150px;
    
}
.bgPhoto button{
    width: 150px;
    height: 50px;
    box-shadow: 0px 0px 10px;
    background-color:transparent;
    align-items: center;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

}
button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
}
button:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 8px;
}
.footerStart{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    
}
.footerContent{
    background-color:#d1d9e3 ;
    /* background-color: #808082; */
    padding: 0px 25px ;
    box-shadow: 0px 0px 10px;
}
.links{
    display: flex;
    width: 40px;
    padding-top:15px ;
}
.links a{
    padding-left: 10px;
}
.photos{
    box-shadow: 0px 0x 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    background-color: #dcdde4;
    padding-bottom: 90px;
    padding-top: 60px;
}
.photos img{
    width: 200px;
    margin-inline: 10px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 0 8px;
}
.rubrika{
    background-color: white;
    margin: 15px 10px;
    padding: 2px 2px 2px 2px;
}
.rubrika h2,p{
    margin-top: 5px;
    margin-bottom: 1px;  
    margin-left: 38px;
    margin-right: 20px;  
}
.rubrika button{
    background-color: #8096ba;
    border-radius: 5px;
    width: 195px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 15px;
}
.rubrika button:hover{
    background-color: #4065a1;
    color: white;
}

#div_contact{
    min-height: 500px;
    background-color: var(--quinaryColor);
    margin-top: 50px;
  }
.container{
    width: 100%;
    padding: 80px 0;
}
  
.container h2{
    margin-bottom: 28px;
    font-size: 40px;
    text-align: center;
}
.container p{
    margin-top: 50px;
}
.contact_form{
    max-width: 50%;
    margin: 0 auto;
}
.form_group{
    display: flex;
    justify-content: space-between;
}
.contact_form input,
.contact_form textarea{
    width: 100%;
    background-color: transparent;
    color: #000;
    padding: 10px 20px;
    margin-top: 40px;
    border: none;
    border: 1px solid #000;
}


.gender_options{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.select_box{
    width: 100%;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    padding: 10px;
}
#submit:hover{
    background-color: #19283f;
    color: #fff;
}
.footerMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerLeft{
    width: 250px;
    text-align: left;
    padding: 10px;
    
}
.footerCenter{
    margin-right: 130px;
    padding-top: 15px;
    width:170px;
}
.footerRight{
    /* padding-right: 200px; */
    margin-right: 150px;
    width: 100px;
}
.footerEnd{
    display: flex;
    justify-content: center;
    padding: 25px 25px;

}



