*{
    margin: 0%;
    padding: 0%;
}
.headerConatiner{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /*background:grey;*/
    align-items: center;
    height: 40px;
    flex-wrap: wrap;
    
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Broadway;
    font-size: 26px;
    color: black;
}
@media screen and (max-width:700px){
    .headerConatiner li a{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        text-align: start;
        font-size: 15px;
    }
    .headerConatiner{
        padding: 20px;
    }
    .headerConatiner li a{
        padding: 5px 6px;
    }
}
.b{
    background-image: url(bgPhoto.png);
    background-size: cover;
    height: 600px;
    background-repeat:repeat;
    justify-content: center;
    align-items: center;
}
.b button{
    width: 90px;
    height: 40px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px;
}
.headerConatiner li{
    display: inline;
    justify-content: space-around;
    padding-right: 15px;
    
}
.headerConatiner li a{
    text-decoration: none;
    color: black;
    border: 1px;
    box-shadow: 0px 0px 3px;
    padding: 10px 20px;
    font-size: 17px;
}
ul li a:hover{
    background-color: aliceblue;
    color: #000;
}
#slogan{
    padding: 70px 0px 0px 70px;
    font-size: 50px;
    width: auto;
    font-family: Magneto;
    color: black;
}
.bgPhoto{
    display: flex;
    /*background-image: url(bgPhoto.png);
    background-size: cover;
    height: 500px;
    background-repeat:repeat;
    */
    justify-content: center;
    align-items: center;
    padding-top: 200px;

}
.bgPhoto button{
    width: 90px;
    height: 40px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px;
}
button a{
    text-decoration: none;
}
button:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 3px;
}
.footerStart{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    
}
.footerContent{
   /* background-color: rgb(103, 101, 101);*/
    background-color: rgb(170, 169, 169);
    padding: 0px 25px ;
    box-shadow: 0px 0px 10px;
}
.links{
    display: flex;
    width: 40px;
    padding-top:15px ;
}
.links a{
    padding-left: 10px;
}
.photos{
    box-shadow: 0px 0x 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    /*background-color: rgb(103, 101, 101);*/
    background-color: rgb(170, 169, 169);
    padding-bottom: 50px;
    
}
.photos img{
    width: 200px;
    margin-inline: 10px;
    margin-top: 70px;
    margin-left: 38px;
    margin-right: 20px;
}
.rubrika h2,p{
    margin-top: 5px;
    margin-bottom: 1px;  
    margin-left: 38px;
    margin-right: 20px;  
}

.footerMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerLeft{
    width: 300px;
}
.footerCenter{
    padding-top: 15px;
    padding-right: 140px;
    width:150px;
}
.footerRight{
    padding-right: 130px;
    width: 100px;
}
.footerEnd{
    display: flex;
    justify-content: center;
    padding: 25px 25px;

}